# --- macOS ---
.DS_Store

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
terraform/iam-users/.terraform
terraform/iam-users/.terraform.lock.hcl
terraform/iam-users/passwords.json
terraform/s3-bucket-for-state/.terraform
terraform/s3-bucket-for-state/.terraform.lock.hcl
backend-django/api/__pycache__/models.cpython-312.pyc
backend-django/api/__pycache__/urls.cpython-312.pyc
backend-django/api/__pycache__/views.cpython-312.pyc
backend-django/core/__pycache__/settings.cpython-312.pyc
# Django
*.log
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
frontend/.vite/

# Env / secrets
.env
.env.*
!.env.example
config.env
passwords.json
config.env

# IDE / OS
.vscode/
.idea/
