# --- macOS ---
.DS_Store

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
frontend/.vite/

# Env / secrets
.env
.env.*
!.env.example
config.env
passwords.json
config.env

# IDE / OS
.vscode/
.idea/
.DS_Store